body {
    background-image: url(../img/bg.png);
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
}

header div {
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
}

nav ul li {
    padding: 5px 0px 5px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: rgb(70, 64, 64);
    float: left;
}

nav ul li:hover {
    background-color: rgb(128, 114, 114);
}

main div {
    display: none;
}