main {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0;
    background-image: url(../img/main-bg.gif);
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #030a0e;
}