@font-face {
    font-family: "Undertale Font";
    src: url(DeterminationSansWebRegular-369X.ttf);
}

body {
    background-image: url(../img/main-bg.gif);
    background-size: cover;
    background-attachment: fixed;
}

main {
    font-family: sans-serif;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #030a0e;
    color: white;
}

.title {
    text-align: center;
    font-family: "Undertale Font";
    font-size: 50px;
    text-decoration-line: underline;
    cursor: default;
}

.container {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: justify;
}
