@font-face {
    font-family: "Undertale Font";
    src: url(DeterminationSansWebRegular-369X.ttf);
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #030a0e;
    z-index: 999;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
}

.navbar a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.navbar ul a:hover {
    color: rgb(192, 176, 156);
    text-decoration-line: underline;
}

.navbar h1 a {
    font-family: "Undertale Font";
    padding-right: 50px;
    font-size: 30px;
    cursor: pointer;
}